/*----------------------------------------------------------------*\
		BUTTONS
\*----------------------------------------------------------------*/

button,
.button {
	display: inline-block;
	margin: 16px;
	padding: .5em var(--SmallSpacing);
	cursor: pointer;
	border-radius: 50px;
	border: 2px solid var(--Blue);
	background-color: var(--Blue);
	color: var(--White);
	font-family: 'Oswald';
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	letter-spacing: 1px;
	outline: none;
	transition: all .35s linear;

	&:hover,
	&:focus,
	&:active {
		color: var(--Blue);
		border-color: var(--Yellow);
		background-color: var(--Yellow);
		text-decoration: none;

		&>svg {
			fill: var(--Blue);
		}
	}

	&.load-more {
		margin: var(--LargeSpacing) auto;
		display: none;
	}

	&.is-chemical {
		color: var(--Black);
		border-color: var(--Yellow);
		background-color: var(--Yellow);
		border-radius: 6px;
		padding: 8px;
		font-size: 24px;
		margin: var(--xSmallSpacing) 0 0 0;

		& span {
			display: block;
			font-size: 16px;
		}

		& svg {
			display: inline-block;
			width: 35px;
			height: 35px;
			margin-right: 10px;
			vertical-align: middle;
		}

		&:hover,
		&:focus,
		&:active {
			transform: scale(1.1);
			color: var(--Black);
			border-color: var(--Yellow);
			background-color: var(--Yellow);
			text-decoration: none;
		}
	}

	&>svg {
		height: 1em;
		width: 1em;
		fill: var(--White);
		margin-right: .5em;
		margin-top: -0.15em;
		vertical-align: middle;
		display: inline-block;
		transition: all .35s linear;
	}
}

/*----------------------------------------------------------------*\
		COLOR MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.is-red {
		border-color: var(--Red);
		background-color: var(--Red);
		color: var(--White);

		&:hover,
		&:focus,
		&:active {
			color: var(--White);
			border-color: var(--RedLight);
			background-color: var(--RedLight);
			opacity: .8;
		}
	}
}

/*----------------------------------------------------------------*\
		GHOST MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.is-ghost {
		background-color: transparent;
		color: var(--Grey);
		border-color: var(--Grey);

		&:hover,
		&:focus,
		&:active {
			color: var(--White);
			border-color: var(--Grey);
			background-color: var(--Grey);
		}
	}
}