/*----------------------------------------------------------------*\
		FONTS
\*----------------------------------------------------------------*/

@font-face {
	font-family: 'Oswald';
	src: url('../fonts/Oswald-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Oswald Bold';
	src: url('../fonts/Oswald-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Bold';
	src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

/*----------------------------------------------------------------*\
		HEADERS
\*----------------------------------------------------------------*/

h1,
h2,
h3,
h4 {
	font-family: 'Oswald';
	font-weight: 600;
	color: var(--Blue);
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.15;
}

h1 {
	font-size: 46px;
	color: var(--White);
	margin: var(--LargeSpacing) 0 var(--SmallSpacing) 0;

	@media(--500vp) {
		font-size: 70px;
	}

	&+h2 {
		font-family: 'Oswald';
		font-size: 32px;
		text-transform: none;
	}
}

h2 {
	font-size: 36px;
	margin: var(--LargeSpacing) 0 var(--SmallSpacing) 0;

	@media(--500vp) {
		font-size: 45px;
	}
}

h3 {
	font-size: 30px;
	margin: var(--LargeSpacing) 0 var(--SmallSpacing) 0;
}

h4 {
	font-size: 22px;
	color: var(--Black);
	margin: var(--SmallSpacing) 0 var(--xSmallSpacing) 0;
}

/*----------------------------------------------------------------*\
		BODY
\*----------------------------------------------------------------*/

p,
time,
address {
	color: var(--Grey);
	font-family: 'Roboto';
	font-size: 16px;
	line-height: 1.66;
	margin: 0 0 var(--xSmallSpacing) 0;

	@media(--500vp) {
		font-size: 18px;
	}
}

strong,
b {
	font-family: 'Roboto Bold';
}

p a {
	font-size: inherit;
	font-family: 'Roboto Bold';
	color: var(--Blue);
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		text-decoration: underline;
	}
}

ul {
	font-family: 'Roboto';
	font-size: 18px;
	font-style: italic;
	line-height: 1.33;
	letter-spacing: 1px;
	margin: var(--xSmallSpacing) 0;
	padding: 0 0 0 .25em;

	& li {
		margin: .5em 0;
		position: relative;
		list-style: none;
		color: var(--Grey);
		padding: 0 0 0 1.25em;

		&::before {
			content: '';
			display: inline-block;
			margin-right: .65em;
			width: .875em;
			height: .875em;
			background-image: url(../images/bullet.svg);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			position: absolute;
			left: 0;
			top: 5px;

		}
	}
}

hr {
	border: 0;
	height: 4px;
	width: 80%;
	max-width: 480px;
	margin: var(--xLargeSpacing) auto;
	background-color: var(--Yellow);
}

/*----------------------------------------------------------------*\
		BLOCKQUOTE
\*----------------------------------------------------------------*/

blockquote {
	width: 85%;
	max-width: 800px;
	padding: var(--xSmallSpacing) 0;
	margin: var(--Spacing) auto;
	text-align: center;
	position: relative;

	@media(--500vp) {
		width: 80%;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		height: 2px;
		width: 180px;
		left: 50%;
		transform: translateX(-50%);
		background-color: var(--Yellow);
	}

	&>*:first-child {
		margin-top: 0;
	}

	&>*:last-child {
		margin-bottom: 0;
	}

	& p {
		color: var(--Blue);
		font-size: 20px;
		font-style: italic;
		line-height: 1.33;

		@media(--500vp) {
			font-size: 26px;
		}
	}
}