section.standard-cards {
	width: 90%;
	max-width: var(--Width);
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	& .card {
		width: 100%;
		margin: 0 0 var(--LargeSpacing) 0;

		@media(--800vp) {
			width: 48%;
		}

		&:nth-child(odd) {
			margin-right: 4%;
		}

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}

		&>div:first-child {
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			height: 240px;
		}

		& h3 {
			margin: 1em 0 .5em 0;
		}
	}
}