section.careers {
	width: 90%;
	max-width: var(--Width);
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	color: var(--Grey);
	font-family: 'Roboto';
	font-size: 18px;
	line-height: 1.66;

	& #BDHRJobListings {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;

		& .categorySection {
			width: 100%;
			margin: 0 2% var(--SmallSpacing) 2%;

			@media(--800vp) {
				width: 46%;
			}

			& .categoryHeadingSection {
				display: inline-block;
				padding: 0 1em .25em .35em;
				font-family: 'Oswald';
				font-weight: 600;
				color: var(--Blue);
				text-transform: uppercase;
				letter-spacing: 1px;
				line-height: 1.15;
				font-size: 26px;
				color: var(--Black);
				margin: 0 0 var(--xSmallSpacing) 0;
				border-bottom: 2px solid var(--Yellow);
			}

			& .jobSection {
				margin: 0 0 .75em;

				& .jobLinkContainer {
					display: block;
					width: 100%;

					& a {
						color: var(--Red);
						text-decoration: none;

						&:hover,
						&:active,
						&:focus {
							text-decoration: underline;
						}
					}
				}
			}
		}

		& .addthis_toolbox {
			display: none;
		}

		& #commondivjobalert {
			display: none;
		}
	}
}