section.fixed-image-wysiwyg {
	width: 100%;
	max-width: 1550px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	padding: var(--LargeSpacing) 0;

	& div {
		width: 100%;
		padding: 0 var(--SmallSpacing);

		@media(--500vp) {
			padding: 0 var(--Spacing);
		}

		@media(--800vp) {
			width: calc(100% - 500px);
		}

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}

		& .buttons {
			width: 100%;
			padding: 0;
			margin: 0;

			& button,
			& .button {
				margin: 0 6px 14px 6px;
				width: 100%;

				@media(--500vp) {
					width: auto;
				}
			}
		}
	}

	& div:first-child {
		width: 80%;
		max-width: 80%;
		margin-bottom: var(--Spacing);
		padding: 0;

		@media(--800vp) {
			max-width: 500px;
			margin-bottom: 0;
		}

		& img {
			border-top-right-radius: 6px;
			border-bottom-right-radius: 6px;
		}
	}

	&.Right div:first-child {
		margin: 0 0 var(--Spacing) auto;

		@media(--800vp) {
			order: 2;
		}

		& img {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-top-left-radius: 6px;
			border-bottom-left-radius: 6px;
		}
	}
}