section.flip-cards {
	width: 90%;
	max-width: var(--LargeWidth);
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	& .card {
		width: 100%;
		height: 400px;
		margin: 0 1% var(--xSmallSpacing) 1%;
		position: relative;
		perspective: 1000px;

		@media(--500vp) {
			height: 300px;
		}

		@media(--800vp) {
			width: 31.33%;
			height: 400px;
		}

		& .container {
			transition: 0.6s;
			transform-style: preserve-3d;
			position: relative;
			width: 100%;
			height: 100%;
			transition: transform 0.8s;
			transform-style: preserve-3d;

			&>a {
				text-decoration: none;
			}

			& a.front {
				transition: all 1s ease-in-out;

				&:hover,
				&:focus,
				&:active {
					transform: scale(1.05);
				}
			}

			& .front {
				background-color: var(--GreyLight);
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				border-radius: 6px;
				text-align: center;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				backface-visibility: hidden;
				transform: rotateY(0deg);
				cursor: pointer;

				&>span {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					border-radius: 6px;
					background-color: rgba(32, 40, 49, 0.35);
					display: block;
				}

				&>div {
					z-index: 2;
				}

				& h3 {
					color: var(--White);
					font-size: 40px;
					margin: .5em 0 .75em;
					line-height: 1.1;
					padding: 0 10px;
				}

				& button {
					background-color: transparent;
					border-radius: 0;
					border: none;
					color: var(--Yellow);
					padding: 0;
					margin: 0 auto;
				}

				& p {
					color: var(--Yellow);
					text-transform: uppercase;
					font-family: Oswald;
					letter-spacing: 1px;
				}

				& a {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
				}
			}

			& .back {
				background-color: var(--GreyLight);
				padding: var(--xSmallSpacing) var(--xSmallSpacing) 60px var(--xSmallSpacing);
				border-radius: 6px;
				box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				backface-visibility: hidden;
				transform: rotateY(180deg);

				& h3 {
					margin: 0;
				}

				& hr {
					width: 65px;
					margin: 1em 0;
				}

				& p {
					font-size: 16px;
				}

				& .buttons {
					display: flex;
					justify-content: space-between;
					align-items: center;
					position: absolute;
					bottom: 1.25em;
					width: calc(100% - 40px);

					& button {
						background-color: transparent;
						border-radius: 0;
						border: none;
						color: var(--Grey);
						padding: 0;
						margin: 0;
					}

					& .button {
						margin: 0;
					}
				}
			}
		}

		&.is-flipped .container {
			transform: rotateY(180deg);
		}
	}
}