/*----------------------------------------------------------------*\
	PAGE FOOTER
\*----------------------------------------------------------------*/

footer {
	background-color: var(--Grey);
	color: var(--White);
	margin-top: var(--xLargeSpacing);
	padding: var(--SmallSpacing) 0 0 0;
	position: relative;

	&>section {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		width: 90%;
		max-width: var(--LargeWidth);
		margin: 0 auto;

		@media(--800vp) {
			margin: 0 auto 100px auto;
		}

		&>div {
			width: 49%;

			@media(--800vp) {
				width: 19%;
			}

			&:first-child {
				order: 2;
				width: 100%;
				margin-top: var(--SmallSpacing);

				@media(--800vp) {
					order: 0;
					margin-top: 0;
					width: 24%;
				}
			}
		}

		& img {
			max-height: 100px;
			max-width: 80% !important;
			width: auto;
			display: block;
			margin: 0 auto;
		}

		& p {
			color: var(--White);
			font-size: 16px;
		}

		& a {
			color: var(--White);
			font-family: 'Roboto Bold';
			text-decoration: none;

			&:hover,
			&:focus,
			&:active {
				text-decoration: none;
				color: var(--Blue);
			}
		}

		& .widget_nav_menu {
			& ul {
				margin: 0;
				font-size: 16px;
				list-style: none;
				padding: 0;

				& li::before {
					display: none;
				}

				& a {
					color: var(--White);
					text-decoration: none;
					text-transform: uppercase;
					font-style: normal;
					font-family: 'Oswald';

					&:hover,
					&:focus,
					&:active {
						text-decoration: none;
						color: var(--Blue);
					}
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
	COPYRIGHT
\*----------------------------------------------------------------*/

.copyright {
	position: relative;
	width: 90%;
	max-width: var(--LargeWidth);
	margin: var(--Spacing) auto 0 auto;

	@media(--800vp) {
		margin: 0 auto;
	}

	& .legal {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin: 0;
		padding: 0 0 14px 0;

		@media(--800vp) {
			justify-content: space-between;
		}
	}

	& p {
		margin: 0;
		font-size: 14px;
		color: var(--White);
		text-align: center;

		@media(--500vp) {
			text-align: left;
		}
	}

	& nav {
		& ul {
			margin: 0;
			justify-content: center;

			@media(--500vp) {
				justify-content: flex-end;
			}
		}

		& a {
			padding: 0 .65em;
			font-size: 14px;
			color: var(--White);
			font-family: 'Roboto';
			font-style: normal;
			text-transform: none;
			text-decoration: none;
			transition: none;

			&:hover,
			&:focus,
			&:active {
				text-decoration: none;
				color: var(--Blue);
			}
		}
	}
}

/*----------------------------------------------------------------*\
	ELEMENT5 CREDIT
\*----------------------------------------------------------------*/
#element5-credit {
	text-align: center;
	overflow: hidden;

	@media(--500vp) {
		position: absolute;
		bottom: 75px;
		right: 0;
	}

	& img {
		transform: translateX(100%);
		transition: all .35s linear;
	}

	&[data-emergence=visible] img {
		transform: translateX(0);
	}
}