/*----------------------------------------------------------------*\
		GALLERIES
\*----------------------------------------------------------------*/

.gallery {
	width: 90%;
	max-width: var(--Width);
	text-align: center;
}

.gallery-items {
	width: 100%;
	max-width: 1024px;
	margin: 25px auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
	grid-gap: 16px;

	@media(--500vp) {
		grid-template-columns: repeat(auto-fit, minmax(47%, 1fr));
	}

	& img {
		width: 100%;
		height: auto;
		display: block;
	}
}

/*----------------------------------------------------------------*\
		FEATHERLIGHT
\*----------------------------------------------------------------*/

.featherlight:last-of-type {
	background-color: rgba(67, 102, 144, 0.8);
}

.featherlight-content {
	min-width: 300px;
	min-height: 300px;

	& img {
		position: relative;
		z-index: 5;
	}

	& span {
		z-index: 10;
	}

	&::after {
		content: '';
		width: 120px;
		height: 120px;
		position: absolute;
		top: calc(50% - 60px);
		left: calc(50% - 60px);
		background-image: url(../images/loading.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		animation: rotation 2s infinite linear;
	}
}

.featherlight .featherlight-content button.featherlight-close-icon {
	font-family: 'Oswald Bold';
	font-size: 20px;
	background-color: var(--Blue);
	color: var(--White);
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover,
	&:focus,
	&:active {
		background-color: var(--Yellow);
		color: var(--Blue);
	}
}

.featherlight-next span,
.featherlight-previous span {
	color: var(--Blue) !important;
}