/*----------------------------------------------------------------*\
	PAGE TITLES
\*----------------------------------------------------------------*/

header.page-title {
	width: 100%;
	height: auto;
	min-height: 500px;
	align-items: center;
	display: flex;
	position: relative;
	color: var(--White);
	background-color: rgba(67, 102, 144, 0.5);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: multiply;
	margin-top: 95px;

	@media(--500vp) {
		margin-top: 145px;
	}

	@media(--800vp) {
		margin-top: 135px;
	}

	&>section {
		position: relative;
		max-width: var(--LargeWidth);
		text-align: center;
		z-index: 3;

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}

		& p {
			font-size: 24px;
			color: var(--White);

			@media(--500vp) {
				font-size: 32px;
			}
		}

	}
}

/*----------------------------------------------------------------*\
	POST TITLES
\*----------------------------------------------------------------*/
.single-post header {
	color: var(--Black);

	& section {
		width: 90%;
		max-width: var(--LargeWidth);
		text-align: left;

		& h1 {
			font-size: 40px;

			@media(--500vp) {
				font-size: 70px;
			}
		}
	}
}