section.icons {
	width: 90%;
	max-width: var(--LargeWidth);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	&>h2 {
		font-size: 30px;
		border-bottom: 4px solid var(--Yellow);
		padding: .5em 2em;
	}

	& .icon-grid {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;

		& .icon {
			width: 48%;
			margin: 0 1%;
			margin-bottom: var(--LargeSpacing);
			display: flex;
			justify-content: center;
			align-items: center;

			@media(--500vp) {
				width: 18%;
			}

			& img {
				width: auto;
				height: 80px;
			}
		}
	}

	&.is-small {
		max-width: var(--Width);

		& .icon {
			margin-bottom: 14px;
			width: 31%;

			@media(--500vp) {
				width: 23%;
			}

			@media(--800vp) {
				width: 14%;
			}
		}
	}
}