section.product-cards {
	width: 90%;
	max-width: var(--LargeWidth);
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	& .product {
		width: 100%;
		height: 325px;
		margin: 0 1% var(--xSmallSpacing) 1%;
		position: relative;
		perspective: 1000px;

		@media(--500vp) {
			width: 48%;
		}

		@media(--800vp) {
			width: 23%;
		}

		& .container {
			transition: 0.6s;
			transform-style: preserve-3d;
			position: relative;
			width: 100%;
			height: 100%;
			transition: transform 0.8s;
			transform-style: preserve-3d;

			& .front {
				background-color: var(--White);
				padding: 10px 10px 60px 10px;
				border-radius: 6px;
				box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
				text-align: center;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				backface-visibility: hidden;
				transform: rotateY(0deg);

				& .image {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 150px;

					& img {
						height: auto;
						max-height: 100%;
						width: auto;
						max-width: 100%;
					}
				}

				& h3 {
					font-size: 22px;
					margin: .5em 0 .75em;
					line-height: 1.1;
					padding: 0 10px;

					@media(--1050vp) {
						font-size: 26px;
					}
				}

				& button {
					left: 50%;
					transform: translateX(-50%);
				}
			}

			& .back {
				background-color: var(--GreyLight);
				padding: var(--xSmallSpacing) var(--xSmallSpacing) 60px var(--xSmallSpacing);
				border-radius: 6px;
				box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				backface-visibility: hidden;
				transform: rotateY(180deg);

				& p {
					font-size: 14px;

					@media(--1050vp) {
						font-size: 16px;
					}
				}
			}

			& button {
				background-color: transparent;
				border-radius: 0;
				border: none;
				color: var(--Grey);
				padding: 0;
				margin: 0 auto;
				position: absolute;
				bottom: 1.25em;
			}
		}

		&.is-flipped .container {
			transform: rotateY(180deg);
		}
	}
}