/*----------------------------------------------------------------*\
	RELATED POSTS
\*----------------------------------------------------------------*/

.related-posts {
	width: 100%;
	padding: var(--Spacing) 0;
	background: var(--Grey);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	&>article {
		max-width: 550px;
		width: 90%;
		margin: 0 var(--SmallSpacing);
	}
}