section.stats {
	width: 90%;
	max-width: var(--LargeWidth);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: var(--Spacing) auto;

	@media(--800vp) {
		margin: 125px auto;
	}

	&>div {
		width: 100%;
		margin: 0 0 var(--xLargeSpacing) 0;

		@media(--500vp) {
			width: 40%;
		}

		@media(--800vp) {
			width: 180px;
			margin: 0;
		}

		& p {
			color: var(--GreyDark);
			text-align: center;
			line-height: 1;
			margin: 0;

			& span {
				font-family: 'Oswald';
				font-weight: 600;
				font-size: 72px;
				text-transform: uppercase;
				display: block;
			}
		}
	}
}