section.wysiwyg-block {
	width: 90%;
	max-width: var(--Width);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	&>h2 {
		width: 100%;
	}

	&>div {
		width: 100%;

		&:first-of-type {
			margin-bottom: 1em;

			@media(--800vp) {
				margin-bottom: 0;
			}
		}

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}

		@media(--800vp) {
			width: 48%;
			margin: 0 2% 0 0;

			&:last-of-type {
				margin: 0 0 0 2%;
			}

			&:only-child {
				width: 100%;
				margin: 0 auto;
			}
		}
	}
}

body.page-contact section.wysiwyg-block>div:last-child {
	& p a {
		border-bottom: 4px solid transparent;
		text-decoration: none;
		margin-bottom: .25em;
		display: inline-block;

		&:hover,
		&:focus,
		&:active {
			border-bottom: 4px solid var(--Yellow);
			text-decoration: none;
		}

		&::before {
			content: '';
			display: inline-block;
			height: 1em;
			width: 1em;
			margin-right: .25em;
			vertical-align: middle;
			background-image: url(../images/phone.svg);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}