/*----------------------------------------------------------------*\

		PROCESSOR: POSTCSS
			http://postcss.org/
		SYNTAX: CSSNEXT
			http://cssnext.io/
		NAMING CONVENTIONS: MODULAR CSS with lower-case-hyphenated
			http://thesassway.com/advanced/modular-css-naming-conventions
		CSSSTYLE: TABS
			http://www.sublimetext.com/docs/indentation
		CSS BASE: NORMALIZE
			https://necolas.github.io/normalize.css/
		FRAMEWORK: CSS GRID & FLEXBOX
			https://css-tricks.com/snippets/css/complete-guide-grid/
			https://css-tricks.com/snippets/css/a-guide-to-flexbox/

\*----------------------------------------------------------------*/

/*----------------------------------------------------------------*\
		VARIABLES
\*----------------------------------------------------------------*/

:root {
	/* SIZING */
	--SmallWidth: 800px;
	--Width: 960px;
	--LargeWidth: 1220px;
	--xLargeSpacing: 64px;
	--LargeSpacing: 45px;
	--Spacing: 40px;
	--SmallSpacing: 32px;
	--xSmallSpacing: 20px;
	/* COLORS */
	--Blue: #0c2280;
	--Red: #931f00;
	--RedLight: #DE5E3B;
	--Yellow: #fad401;
	--White: #ffffff;
	--GreyLight: #F0F1F6;
	--Grey: #6c757f;
	--GreyDark: #6c757f;
	--Black: #202831;
}

/*----------------------------------------------------------------*\
		MEDIA QUERIES IN CORRECT ORDER
\*----------------------------------------------------------------*/

@custom-media --500vp (min-width: 500px);
@custom-media --800vp (min-width: 800px);
@custom-media --1050vp (min-width: 1050px);
@custom-media --1200vp (min-width: 1200px);

div {
	@media(--500vp) {
		box-sizing: inherit;
	}

	@media(--800vp) {
		box-sizing: inherit;
	}

	@media(--1050vp) {
		box-sizing: inherit;
	}

	@media(--1200vp) {
		box-sizing: inherit;
	}
}

/*----------------------------------------------------------------*\
		UNIVERSAL BOX-SIZING
\*----------------------------------------------------------------*/

html {
	box-sizing: border-box;
	font-size: 16px;
	background: var(--White);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/*----------------------------------------------------------------*\
		WORDPRESS CLASSES
\*----------------------------------------------------------------*/

section {

	& img {
		max-width: 100%;
		height: auto;

		&.alignleft {
			float: left;
			margin: 1em 1em 1em 0;
		}

		&.alignright {
			float: right;
			margin: 1em 0 1em 1em;
		}

		&.aligncenter {
			display: block;
			margin: 1em auto;
		}
	}
}

/*----------------------------------------------------------------*\
		MAIN
\*----------------------------------------------------------------*/
main {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;

	&.aside-both,
	&.aside-left,
	&.aside-right {
		max-width: var(--LargeWidth);
		margin: 0 auto;
	}

	&>article {
		width: 100%;
		order: 0;

		@media(--800vp) {
			order: 2;

			&:first-child,
			&:last-child {
				width: calc(100% - 375px);
			}

			&.aside-both,
			&:only-child {
				order: 0;
				width: 100%;
			}

		}

		@media(--1050vp) {
			&.aside-both {
				width: calc(100% - 750px);
				order: 2;
			}
		}
	}

	& aside {
		width: 350px;
		background-color: var(--Grey);
		padding: var(--SmallSpacing);
		margin: var(--Spacing) auto;

		@media(--800vp) {
			&.is-left {
				margin-right: 25px;
				order: 1;
			}

			&.is-right {
				margin-left: 25px;
				order: 3;
			}
		}

		& .widget {
			margin-bottom: var(--SmallSpacing);

			&:last-of-type {
				margin-bottom: 0;
			}

			&>*:first-child {
				margin-top: 0;
			}

			&>*:last-child {
				margin-bottom: 0;
			}
		}
	}
}

/*----------------------------------------------------------------*\
		ARTICLE
\*----------------------------------------------------------------*/
article {
	width: 100%;
	height: auto;
	margin: var(--Spacing) auto;
	position: relative;

	&>*:first-child {
		margin-top: 0 !important;
	}

	&>*:last-child {
		margin-bottom: 0 !important;
	}
}

a.anchor {
	position: relative;
	top: -150px;
	display: block;
}

/*----------------------------------------------------------------*\
		CENTER CONTAINERS
\*----------------------------------------------------------------*/

section {
	width: 100%;
	margin: var(--Spacing) auto;

	&>*:first-child {
		margin-top: 0;
	}

	&>*:last-child {
		margin-bottom: 0;
	}
}