/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO ARCHIVES

\*----------------------------------------------------------------*/

.feed {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 90%;
	max-width: var(--LargeWidth);
}

/*----------------------------------------------------------------*\
	INFINITE SCROLL
\*----------------------------------------------------------------*/

.page-load-status,
.navigation.pagination {
	display: none;
	text-align: center;
}

/*----------------------------------------------------------------*\
	BLOG
\*----------------------------------------------------------------*/
body.blog {
	& article {
		margin-bottom: 0;
	}

	& section.feed h2,
	& section.associations h2 {
		text-align: center;
		width: 100%;
	}

	& footer {
		margin-top: 0;
	}
}

section.associations {
	margin: 125px auto 0 auto;

	& h2 {
		width: 90%;
		max-width: var(--LargeWidth);
		margin-right: auto;
		margin-left: auto;
	}

	&>div {
		background-color: var(--GreyLight);
		padding: var(--LargeSpacing) 0;

		&>div {
			max-width: var(--LargeWidth);
			margin-right: auto;
			margin-left: auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
		}

		& .association {
			width: 100%;
			margin: 0 1.5% var(--Spacing) 1.5%;

			@media(--500vp) {
				width: 47%;
			}

			@media(--800vp) {
				width: 30%;
			}

			@media(--1050vp) {
				width: 22%;
			}

			& img {
				width: 100%;
				height: auto;
			}

			& h4 {
				margin: var(--xSmallSpacing) 0;
			}

			&>*:first-child {
				margin-top: 0;
			}

			&>*:last-child {
				margin-bottom: 0;
			}
		}
	}
}

section.feed-blog {
	max-width: var(--Width);
}

/*----------------------------------------------------------------*\
	RESOURCES
\*----------------------------------------------------------------*/
body.archive article>nav {
	max-width: var(--LargeWidth);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 auto var(--Spacing) auto;

	&::before {
		content: 'Sort By:';
		font-family: 'Roboto';
		display: inline-block;
		vertical-align: middle;
		margin-right: 8px;
	}

	& ul {
		flex-wrap: wrap;

		& li {
			width: 100%;
			text-align: center;

			@media(--500vp) {
				width: auto;
			}
		}
	}

	& a {
		display: inline-block;
		margin: 0 8px;
		padding: .25em var(--SmallSpacing);
		cursor: pointer;
		border-radius: 50px;
		border: 2px solid var(--Grey);
		background-color: transparent;
		color: var(--Grey);
		font-family: 'Oswald';
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
		letter-spacing: 1px;
		outline: none;
		transition: all .35s linear;

		&:hover,
		&:focus,
		&:active {
			color: var(--White);
			border-color: var(--Grey);
			background-color: var(--Grey);
		}
	}
}

/*----------------------------------------------------------------*\
	LOCATIONS
\*----------------------------------------------------------------*/
section.state {
	max-width: var(--LargeWidth);
	width: 90%;

	& .introduction {
		& img {
			float: left;
			width: 250px;
			margin-bottom: var(--xSmallSpacing);

			@media(--500vp) {
				margin-right: var(--SmallSpacing);
				margin-bottom: 0;
			}
		}

		& h3 {
			clear: both;
			margin: 0 0 var(--xSmallSpacing) 0;

			@media(--500vp) {
				clear: none;
			}
		}
	}

	& .locations {
		clear: both;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		padding: var(--Spacing) 0 0 0;
	}
}

/*----------------------------------------------------------------*\
	SEARCH
\*----------------------------------------------------------------*/
body.search-results header.page-title {
	min-height: 0;
	background: transparent;

	& section {
		max-width: var(--LargeWidth);

		& h1 {
			color: var(--Grey);
			text-align: left;
		}
	}
}