/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE STANDARD TEMPLATES
	left siddebar, right sidebar, both sidebar, 404, thank you

\*----------------------------------------------------------------*/

/*----------------------------------------------------------------*\
	404
\*----------------------------------------------------------------*/

body.error404 {
	& article {
		height: calc(100vh - 400px);
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;

		& section {
			max-width: 600px;
		}

		& h1 {
			margin-top: 0;
			color: var(--Blue);
			text-transform: uppercase;
		}

		p {
			color: var(--White);
			font-size: 1.5em;
		}

		& .buttons {
			margin: 50px 0 0 0;
			width: 100%;
		}
	}
}

/*----------------------------------------------------------------*\
	THANK YOU
\*----------------------------------------------------------------*/

body.page-template-thankyou {
	& article {
		height: calc(100vh - 400px);
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;

		& section {
			max-width: 600px;
		}

		& h1 {
			margin-top: 0;
			color: var(--Blue);
			text-transform: uppercase;
		}

		p {
			font-size: 1.5em;
		}

		& .buttons {
			margin: 50px 0 0 0;
			width: 100%;
		}
	}
}