/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE FRONT PAGE

\*----------------------------------------------------------------*/


.page-title.is-slider {
	margin-bottom: var(--xLargeSpacing);
	min-height: 600px;

	& .slide>div {
		width: 100%;
		height: auto;
		min-height: 600px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		position: relative;
		color: var(--White);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;

		& section {
			width: 100%;
			float: right;
			z-index: 100;
			padding: var(--xSmallSpacing);
			margin: var(--xSmallSpacing);
			border-radius: 10px;
			background-color: rgba(255, 2555, 255, .9);

			@media(--500vp) {
				width: 70%;
				margin: var(--SmallSpacing) 0;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				background-color: var(--White);
			}

			@media(--800vp) {
				width: 40%;
			}

			& h1 {
				font-size: 60px;
				color: var(--Blue);
				margin: 0 0 0 0;
			}

			& h2 {
				color: var(--Grey);
				font-family: 'Roboto';
				font-weight: normal;
				font-size: 24px;
				margin: .5em 0;

				@media(--500vp) {
					font-size: 26px;
				}

				@media(--1200vp) {
					font-size: 30px;
				}
			}

			& p {
				font-size: 16px;

				@media(--1050vp) {
					font-size: 18px;
				}
			}

			& .button {
				margin: 0;
			}
		}
	}
}