/*----------------------------------------------------------------*\

	HISTORY	

\*----------------------------------------------------------------*/

section.timeline {
	width: 90%;
	max-width: var(--LargeWidth);
	margin: var(--Spacing) auto;

	& .date {
		background-color: transparent;
		border-color: transparent;
		border-radius: 0;
		border-bottom: 4px solid transparent;
		color: var(--GreyDark);
		font-size: 24px;
		margin: 0;

		&:hover,
		&:focus,
		&:active {
			color: var(--Blue);
			border-bottom: 4px solid var(--Yellow);
		}
	}

	& .slick-current .date {
		color: var(--Blue);
		border-bottom: 4px solid var(--Yellow);
	}

	& .event {
		&>div {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			@media(--800vp) {
				justify-content: space-between;
			}

			&>div:first-child {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 80%;
				background-color: var(--GreyLight);
				border-radius: 10px;
				border: 4px solid var(--Yellow);
				min-height: 250px;
				overflow: hidden;

				@media(--800vp) {
					width: 40%;
					min-height: 275px;
				}

				& p {
					margin: 0;
					font-size: 70px;
					font-family: 'Oswald';
				}

				& img {
					width: auto;
					max-width: 100%;
					height: auto;
					max-height: 100%;
				}
			}

			&>div:last-child {
				width: 100%;

				@media(--800vp) {
					width: 56%;
				}

				& h4 {
					color: var(--Blue);
				}
			}
		}
	}

	& .timeline-dates {
		margin-bottom: var(--LargeSpacing);

		& .slick-list {
			padding: 0 2.5em;
		}

		&>svg {
			width: 1.75em;
			height: 100%;
			fill: var(--Grey);
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			z-index: 2;

			&:last-of-type {
				left: auto;
				right: 0;
			}

			&:hover,
			&:focus,
			&:active {
				fill: var(--Blue);
				cursor: pointer;
			}
		}
	}
}