/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE SINGLE BLOG POST 

\*----------------------------------------------------------------*/

body.single-post .page-title {
	min-height: 100px;

	&>section h1 {
		color: var(--GreyDark);
	}

	&.has-image {
		background-color: rgba(67, 102, 144, .5);
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: cover;
		background-blend-mode: multiply;
		min-height: 500px;
		margin-bottom: var(--xSmallSpacing);
	}

	&>section h1 {
		color: var(--White);
	}
}

body.single-post nav.breadcrumbs {
	margin: var(--xSmallSpacing) auto var(--xLargeSpacing) auto;
}

body.single-post article {
	margin-top: 0;
}

section.featured-img {
	position: relative;
	z-index: 2;
	padding-left: 0;
	padding-right: 0;

	& img {
		width: 100%;
		max-width: 1350px;
		margin: 0 auto;
		display: block;
	}
}

#comments {
	padding: 0 3vw;
	max-width: var(--Width);
	margin: 0 auto;
}

/*----------------------------------------------------------------*\
	LOCATIONS
\*----------------------------------------------------------------*/
section.location-map {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	width: 90%;
	max-width: var(--Width);
	margin-top: var(--xLargeSpacing);

	&>div:first-child {
		width: 100%;
		margin-bottom: var(--Spacing);

		@media(--500vp) {
			width: 40%;
			margin-bottom: 0;
		}

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}

		& p a {
			border-bottom: 0px solid var(--Yellow);
			text-decoration: none;

			&:hover,
			&:focus,
			&:active {
				border-bottom: 4px solid var(--Yellow);
				text-decoration: none;
			}

			&::before {
				content: '';
				display: inline-block;
				height: 1em;
				width: 1em;
				margin-right: .5em;
				vertical-align: middle;
				background-image: url(../images/phone.svg);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			}
		}

		& a.button {
			margin: 0;
		}
	}

	&>div:last-child {
		width: 100%;

		@media(--500vp) {
			width: 60%;
		}

		& iframe {
			width: 100%;
			height: 350px;
		}
	}
}