/*----------------------------------------------------------------*\
		NAVIGATION
\*----------------------------------------------------------------*/

nav {
	& ul {
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-style: normal;

		& li {
			list-style: none;
			padding: 0;

			&::before {
				display: none;
			}
		}
	}
}

/*----------------------------------------------------------------*\
		UTILITY
\*----------------------------------------------------------------*/
.utility {
	background-color: var(--Blue);
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0 var(--Spacing);
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 2000;
	display: none;

	@media(--800vp) {
		display: flex;
	}

	&>a {
		text-decoration: none;
		color: var(--White);
		font-family: Roboto;
		font-size: 14px;

		& svg {
			display: inline-block;
			height: 1.25em;
			width: 1.25em;
			margin-right: 4px;
			vertical-align: middle;
			fill: var(--White);
		}

		&:hover,
		&:focus,
		&:active {
			color: var(--Yellow);

			& svg {
				fill: var(--Yellow);
			}
		}
	}

	& nav a {
		display: block;
		padding: 0 14px;
		height: 100%;
		font-size: 14px;
		color: var(--White);
		text-decoration: none;
		text-transform: none;
		position: relative;
		transition: none;

		&:hover,
		&:focus,
		&:active {
			color: var(--Yellow);
		}
	}

	& li:last-child a {
		padding-right: 0;
	}
}

/*----------------------------------------------------------------*\
		PRIMARY NAVIGATION
\*----------------------------------------------------------------*/

.navigation-block {
	justify-content: space-between;
	align-items: center;
	padding: 0 var(--Spacing);
	position: relative;
	background-color: var(--White);
	box-shadow: 0 4px 6px 0 rgba(32, 40, 49, 0.5);
	position: fixed;
	width: 100%;
	top: 38px;
	z-index: 3000;
	display: none;

	@media(--800vp) {
		display: flex;
	}

	& svg {
		/* svg styling based on orion lab line icons */
		/* adjust style specific for your icon set */
		vertical-align: text-top;
		height: 85px;
		width: auto;
		margin-left: .25em;
		fill: transparent;
	}

	&>nav {
		background: transparent;
		height: auto;
		width: 100%;
		overflow: hidden;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		transition: all .5s ease-in-out;

		& ul {
			justify-content: flex-end;
			height: 100px;
			padding-top: 31px;

			& li {
				margin: 0;
				height: 100%;

				&::before {
					display: none;
				}

				& a {
					display: block;
					padding: 6px 12px;
					height: 100%;
					font-family: 'Oswald';
					font-size: 14px;
					color: var(--Blue);
					text-decoration: none;
					text-transform: uppercase;
					position: relative;
					transition: all .35s linear;

					@media(--1050vp) {
						padding: 6px 20px;
						font-size: 18px;
					}

					&::before {
						content: '';
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						height: 0;
						background-color: var(--Yellow);
						transition: all .35s linear;
					}

					&:hover,
					&:focus,
					&:active {
						&::before {
							height: 8px;
						}
					}
				}

				&.active a {

					&:hover,
					&:focus,
					&:active {
						&::before {
							height: 8px;
						}
					}
				}
			}
		}

		& button {
			margin: 0;
			padding: 6px 0 6px 10px;
			background: transparent;
			border-radius: 0;
			border: none;
			display: inline-block;

			& svg {
				fill: var(--Blue);
				height: 18px;
				width: 18px;
				margin: 0;
				stroke: none;
			}

			&:hover,
			&:focus,
			&:active {
				& svg {
					fill: var(--Yellow);
				}
			}
		}
	}
}

.navigation-block nav .menu-about,
.navigation-block nav .menu-products-services {
	position: relative;

	&.is-active a::after {
		transform: rotate(180deg);
	}

	& a::after {
		content: '';
		display: inline-block;
		width: 1em;
		height: 1em;
		margin-left: 8px;
		background-image: url(../images/nav-drop.svg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		transition: all .35s linear;
	}
}

.about-dialog {
	width: 100%;
	background-color: var(--GreyLight);
	box-shadow: 0 4px 6px 0 rgba(32, 40, 49, 0.5);
	position: fixed;
	top: 138px;
	z-index: 100;
	transform: translateY(-120%);
	transition: all .35s ease-in-out;
	display: none;

	@media(--800vp) {
		display: block;
	}

	&.is-active {
		z-index: 200;
		transform: translateY(0);
	}

	&>div {
		max-width: var(--Width);
		margin: 0 auto;
		padding: var(--Spacing) 0;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		&>div:last-child a:last-child {
			color: var(--Blue);
			font-weight: 600;
		}

		& .image-links {
			width: 31%;

			& a {
				width: 100%;
				display: block;
				border-radius: 6px;
				margin-bottom: 10px;
				padding: 18px;
				background-color: var(--Grey);
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				color: var(--White);
				font-size: 24px;
				font-family: 'Oswald';
				text-align: center;
				text-decoration: none;
				position: relative;

				@media(--1050vp) {
					font-size: 28px;
				}

				& span {
					position: relative;
					z-index: 2;
				}

				&::after {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background-color: rgba(32, 40, 49, 0.35);
				}

				&:hover,
				&:focus,
				&:active {
					text-decoration: underline;
				}
			}
		}

		& .location-links {
			width: 64%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;

			& h4 {
				width: 100%;
				color: var(--Blue);
				font-size: 18px;
				margin: 0 0 8px 0;
			}

			& ul {
				margin: 0;
				padding: 0;
				list-style: none;
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;

				& li {
					padding: 0;
					width: 50%;
					margin: .25em 0;
					font-style: normal;

					&::before {
						display: none;
					}
				}
			}

			& a {
				width: 40%;
				color: var(--Black);
				font-family: 'Roboto';
				font-size: 14px;
				text-decoration: none;
				margin: 6px 0;

				@media(--1050vp) {
					font-size: 16px;
				}

				&:hover,
				&:focus,
				&:active {
					color: var(--Blue);
					font-weight: 600;
				}
			}
		}
	}
}

.products-dialog {
	width: 100%;
	background-color: var(--GreyLight);
	box-shadow: 0 4px 6px 0 rgba(32, 40, 49, 0.5);
	position: fixed;
	top: 138px;
	z-index: 100;
	transform: translateY(-120%);
	transition: all .35s ease-in-out;
	display: none;

	@media(--800vp) {
		display: block;
	}

	&.is-active {
		z-index: 200;
		transform: translateY(0);
	}

	&>div {
		max-width: var(--Width);
		margin: 0 auto;
		padding: var(--Spacing) 0;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		&>div {
			width: 31%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;

			& h4 {
				width: 100%;
				color: var(--Blue);
				font-size: 18px;
				margin: 0 0 8px 0;
			}

			& ul {
				list-style: none;
				margin: 0;
				padding: 0;

				& li {
					margin: 0;
					padding: 0;
					font-style: normal;

					&::before {
						display: none;
					}
				}
			}

			& a {
				width: 100%;
				color: var(--Black);
				font-size: 14px;
				font-family: 'Roboto';
				text-decoration: none;
				margin: 8px 0;
				display: block;

				@media(--1050vp) {
					font-size: 16px;
				}

				&:hover,
				&:focus,
				&:active {
					color: var(--Blue);
					font-weight: 600;
				}
			}
		}

		&>div:last-child>a:last-child {
			color: var(--Blue);
			font-weight: 600;
		}
	}
}

.search-dialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(67, 102, 144, 0.8);
	justify-content: center;
	align-items: center;
	z-index: 200000;
	display: none;

	&.is-opened {
		display: none;

		@media(--800vp) {
			display: flex;
		}
	}

	&>button {
		position: absolute;
		top: 50%;
		right: 50%;
		transform: translateY(-135px) translateX(300px);
		background-color: transparent;
		border-radius: 0;
		border: none;
		z-index: 2;

		& svg {
			width: 25px;
			height: 25px;
			fill: var(--White);
			stroke: none;
		}
	}

	& form {
		display: flex;
		flex-wrap: wrap;
		padding: var(--LargeSpacing);
		position: relative;

		& label {
			color: var(--White);
			font-size: 70px;
			width: 100%;

			&::before {
				display: none;
			}
		}

		& input {
			border-color: var(--Blue);
			width: calc(100% - 150px);
			margin-right: 6px;
		}
	}
}

/*----------------------------------------------------------------*\
		MOBILE PRIMARY NAVIGATION
\*----------------------------------------------------------------*/
.mobile-navigation-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 3000;
	width: 100%;
	top: 0;
	background-color: var(--White);
	box-shadow: 0 4px 6px 0 rgba(32, 40, 49, 0.5);
	padding: 0 var(--xSmallSpacing);

	@media(--500vp) {
		padding: 0 var(--Spacing);
	}

	@media(--800vp) {
		display: none;
	}

	&>a:first-of-type {
		& svg {
			height: 20px;
			width: 30px;
			fill: var(--Blue);
			display: block;

			@media(--500vp) {
				height: 35px;
				width: 50px;
			}
		}
	}

	&>a:last-of-type {
		& svg {
			width: 120px;
			height: 100px;
			display: block;

			@media(--500vp) {
				width: 150px;
				height: 150px;
			}
		}
	}

	& button {
		border: none;
		background-color: transparent;
		border-radius: 0;
		padding: 0;
		margin: 0;

		& svg {
			height: 20px;
			width: 30px;
			fill: var(--Blue);
			display: block;

			@media(--500vp) {
				height: 35px;
				width: 50px;
			}
		}
	}
}

nav.mobile-nav {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 90%;
	max-width: 400px;
	z-index: 5000;
	background-color: var(--White);
	box-shadow: -4px 0 12px 0 rgba(32, 40, 49, 0.2);
	transform: translateX(110%);
	transition: all .35s linear;

	&.is-open {
		transform: translateX(0);
	}

	@media(--800vp) {
		display: none;
	}

	& form {
		position: relative;

		& input {
			border-color: var(--GreyLight);
			background-color: var(--GreyLight);
			border-radius: 0;
			padding: 1.25em 1em;
			font-size: 22px;
		}

		& button {
			border-radius: 0;
			background-color: transparent;
			border-color: transparent;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);

			& svg {
				width: 24px;
				height: 24px;
				fill: var(--Blue);
			}
		}
	}

	& ul:first-of-type {
		display: block;
		margin-top: var(--Spacing);
		padding: 0 var(--SmallSpacing);

		& li {
			margin: 0 0 var(--xSmallSpacing) 0;

			& a {
				text-decoration: none;
				text-transform: uppercase;
				color: var(--Blue);
				font-family: 'Oswald';
				font-weight: 600;
				font-size: 24px;

				@media(--500vp) {
					font-size: 30px;
				}
			}
		}
	}

	& ul:last-of-type {
		display: block;
		margin-top: var(--SmallSpacing);
		padding: 0 var(--SmallSpacing);

		& li {
			margin: 0 0 var(--xSmallSpacing) 0;

			& a {
				text-decoration: none;
				color: var(--Grey);
				font-family: 'Roboto';
				font-size: 16px;

				@media(--500vp) {
					font-size: 20px;
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
		BREADCRUMBS
\*----------------------------------------------------------------*/
nav.breadcrumbs {
	max-width: var(--LargeWidth);
	margin: var(--xSmallSpacing) auto;
	color: var(--Grey);
	font-family: 'Roboto';
	font-size: 18px;
	dispaly: none;

	@media(--800vp) {
		display: block;
	}

	& a {
		padding: 0 6px;
		color: var(--Grey);
		text-decoration: none;

		&:hover,
		&:focus,
		&:active {
			color: var(--Black);
		}
	}

	& .breadcrumb_last {
		padding: 0 0 0 6px;
		color: var(--Blue);
	}
}