/*----------------------------------------------------------------*\
	BLOG
\*----------------------------------------------------------------*/
article.preview-blog {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	margin-bottom: var(--LargeSpacing);

	&>div:first-child {
		width: 80%;
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 0 var(--xSmallSpacing);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		@media(--500vp) {
			margin: 0;
			width: 250px;
			height: 250px;
		}

		& img {
			width: 100%;
		}
	}

	&>div:last-child {
		width: 100%;
		margin-left: 0;

		@media(--500vp) {
			width: calc(100% - 290px);
			margin-left: var(--Spacing);
		}

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}

		& p {
			margin: 0;
		}

		& h3 {
			margin: 10px 0;
		}

		& a {
			margin: 10px 0 0 0;
		}
	}
}

/*----------------------------------------------------------------*\
	SEARCH
\*----------------------------------------------------------------*/
article.preview-search {
	margin-bottom: var(--LargeSpacing);

	&>*:first-child {
		margin-top: 0;
	}

	&>*:last-child {
		margin-bottom: 0;
	}

	& p {
		margin: 0;
	}

	& h3 {
		margin: 10px 0;

		& span {
			font-size: .75em;
			vertical-align: middle;
		}
	}

	& a {
		margin: 10px 0 0 0;
	}
}

/*----------------------------------------------------------------*\
	CERTIFICATE
\*----------------------------------------------------------------*/
article.preview-certificate {
	width: 100%;
	margin: 0 1% var(--xLargeSpacing) 1%;

	@media(--500vp) {
		width: 48%;
	}

	@media(--800vp) {
		width: 31%;
	}

	& a {
		text-decoration: none;
		display: flex;
	}

	& svg {
		display: inline-block;
		fill: var(--Blue);
		width: 50px;
		min-width: 50px;
		height: 50px;
		min-height: 50px;
		vertical-align: middle;
		margin-right: var(--xSmallSpacing);
	}

	& h4 {
		display: inline-block;
		color: var(--Blue);
		margin: 0;
	}

	& a:hover,
	& a:focus,
	& a:active {
		& svg {
			fill: var(--Yellow);
		}
	}
}

/*----------------------------------------------------------------*\
	RESOURCE
\*----------------------------------------------------------------*/
article.preview-resource {
	width: 100%;
	margin: 0 1% var(--xLargeSpacing) 1%;

	@media(--500vp) {
		width: 48%;
	}

	@media(--800vp) {
		width: 23%;
	}

	& img {
		width: 100%;
		height: auto;
	}

	& h4 {
		margin: var(--xSmallSpacing) 0;
	}

	& a {
		margin: 0;
	}
}

/*----------------------------------------------------------------*\
	LOCATION
\*----------------------------------------------------------------*/
article.preview-location {
	width: 100%;
	min-height: 275px;
	margin: 0 1% var(--xSmallSpacing) 1%;
	background-color: var(--GreyLight);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 6px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;

	@media(--500vp) {
		width: 48%;
	}

	@media(--800vp) {
		width: 31%;
	}

	@media(--1050vp) {
		width: 23%;
	}

	&>span {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: 6px;
		background-color: rgba(67, 102, 144, 0.5);
		display: block;
	}

	&>div {
		z-index: 2;

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}
	}

	& h3 {
		color: var(--White);
		font-size: 40px;
		margin: 0 0 10px;
		line-height: 1.1;
		padding: 0 10px;
	}

	& p {
		color: var(--Yellow);
		text-transform: uppercase;
		font-family: Oswald;
		letter-spacing: 1px;
	}

	& a {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 3;
	}
}