/*----------------------------------------------------------------*\
	SHARE
\*----------------------------------------------------------------*/

.social-share {
	text-align: center;

	& svg {
		width: 35px;
		height: 35px;
		stroke: var(--Black);
		transition: all .35s linear;
	}

	& a:hover svg,
	& a:focus svg {
		stroke: var(--Orange);
	}
}